
body {
  background-color:#172124;
}

label {
  color: azure;
}

#login-client-div {
  margin: auto;
  padding: 15%;
  display: table; 
  text-align: center;
}

#login-client-label {
  display: table-row;
  font-size: 40px;
}

#login-client-input {
  display: table-row;
  background-color: transparent;
  font-size: 40px;
  color: azure;
  height: 2ch;
  width: 8ch;
  border-bottom: 1px dashed white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
}

#login-client-input:hover {
  display: table-row;
  background-color: transparent;
  font-size: 40px;
  color: azure;
  height: 2ch;
  width: 8ch;
  border-bottom: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
}

#login-client-button {
  font-size: 40px;
  display: table-row;
  background-color: transparent;
  border-style: none;
  border-bottom-style: dashed;
  transition: all 150ms;
}

#login-client-button.inactive {
  color: gray;
  border-color: gray;
}

#login-client-button.active {
  color: gray;
  border-color: azure;
}

#login-client-button.active:hover {
  color: azure;
  border-color: azure;
  cursor: pointer;
}